# Database
DATABASE_URL="file:./dev.db" # URL to database. For dev, use file:<filepath>

# Nodemailer
NODEMAILER_USER=
NODEMAILER_PASS=

# BetterAuth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL="http://localhost:3000" # Base URL of project


NEXT_PUBLIC_APP_URL=http://localhost:3000